[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
maskpass = "*"
pytest = "*"
pyyaml = "*"
pytest-order = "*"
pytest-mock = "*"

[dev-packages]

[requires]
python_version = "3.11"
